.list-container{
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.message-container{
  min-width: 50%;
  margin-bottom: 3rem;
  border-radius: 20px;
  padding: 1rem;
  background: rgb(60, 60, 60);
}

.message{
  margin-bottom: 2rem;
}